*, ::before, ::after {
    box-sizing: border-box;
    margin: 3px;
    padding: 0px;
}

body {
    background-color:#000452;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
}

/* * {
    margin:3px;
} */

table {
    width: 100%;
}

div.horizontal-line {
    border-color:#6f74d8;
    border-style: solid;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea, input {
    background-color:#6200ff36;
    color: #FFFFFF;
}

textarea.fullWidth {
    width: 100%;
    margin: auto;
    padding: 3px;
}

textarea.halfWidth {
    width: 100%;
    margin: auto;
    padding: 3px;
}

.mediumWidthInput {
    width: 180px;
}

.smallWidthInput {
    width: 50px;
}

.smallishWidthInput {
    width: 80px;
}